@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #070F18;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hover-text {
  color: green;
}

.hover-text:focus {
  color: white;
}
.TodoWrapper {
  background: #121212;
  margin: 25px 50px 75px 100px;
  padding: 2rem;
  border-radius: 5px;
  width: 100vw;
  max-width: 1200px;
}

.AuthForm {
  background:#121212;
  padding: 2rem;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 10px;
}

.tab-btn {
  padding: 10px 20px;
  background:#90CAF9;
  /* background-color: #F5F6FA; */
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  /* color: #fff; */
  transition: background 0.3s;
}

.tab-btn.active {
  background-color: #42A5F5;
}


.auth-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.auth-form h1 {
  color:#FFFFFF;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
font-size: clamp(2rem, 10vw, 2.15rem);
}

.auth-form label {
  font-size: 0.9rem;
  color: #94A094;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  text-align: left;
}

.auth-input {
  outline: none;
  background: #05070A;
  border: 1px solid #566481;
  padding: 0.5rem 1rem;
  color: #3E485E;
  width: 100%;
  border-radius: 4px;
}

.auth-input::placeholder {
  color: #ffffff4d;
}

.auth-btn {
  background: #90CAF9;
  border: none;
  padding: 0.6rem 1.25rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 1.5rem;
  border-radius: 4px;
}

.auth-btn:hover {
  background: #42A5F5;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.info-message {
  color: #00c2ff;
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  flex: 1;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #999;
}

.forgot-password-link {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #00c2ff;
  text-align: right;
  cursor: pointer;
}

.forgot-password-link span:hover {
  text-decoration: underline;
}

.checkbox {
  marginright: "8px";
}

@media (max-width: 480px) {
  .AuthForm {
    padding: 1.5rem;
    margin: 1rem;
  }

  .auth-form {
    max-width: 100%;
  }
}
